<a href="https://colab.research.google.com/github/anaferreira744/DE-DP-ADF/blob/main/spark_streaming/examples/example_3_api_json.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Setting up PySpark

In [1]:
%pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.master('local').appName('Test streaming').getOrCreate()
sc = spark.sparkContext

In [41]:
!rm -rf /content/landing
!rm -rf /content/bronze
!mkdir -p /content/landing

## Simulate producer:
- extract data from API
- store data as json in the lake
- run task async

In [42]:
import requests
from pyspark.sql.types import *
import json
import datetime
import asyncio


async def ingest_from_api(url: str, table: str, schema: StructType = None):
  response = requests.get(url)
  timestamp = datetime.datetime.now().strftime("%Y%m%d%H%M%S") #quero adicionar o timestamp no nome do file
  if response.status_code == 200:
    data = response.json()
    with open(f"/content/landing/{table}_{int(timestamp)}.json", "w") as f: #como o open é python entao temos de criar o dir primeiro.se fosse spark criava logo
        json.dump(data, f)

#outro método
async def producer(loop: int, interval_time: int): #interval time o tempo que eu quero esperar entre o loop
  for i in range(loop):
    await ingest_from_api("https://api.carrismetropolitana.pt/vehicles", "vehicles")
    await ingest_from_api("https://api.carrismetropolitana.pt/lines", "lines")
    await asyncio.sleep(interval_time)

async def main():
  asyncio.create_task(producer(10, 30)) #iterar 10 vezes, 30 segundos de intervalo

await main()

- Read from /content/landing as streaming
- store data in memory (for testing)
- store data in the bronze layer

In [64]:
!ls /content/landing | wc

     20      20     550

In [65]:
from pyspark.sql.types import *

vehicle_schema = StructType([StructField('bearing', IntegerType(), True),
                             StructField('block_id', StringType(), True),
                             StructField('current_status', StringType(), True),
                             StructField('id', StringType(), True),
                             StructField('lat', FloatType(), True),
                             StructField('line_id', StringType(), True),
                             StructField('lon', FloatType(), True),
                             StructField('pattern_id', StringType(), True),
                             StructField('route_id', StringType(), True),
                             StructField('schedule_relationship', StringType(), True),
                             StructField('shift_id', StringType(), True),
                             StructField('speed', FloatType(), True),
                             StructField('stop_id', StringType(), True),
                             StructField('timestamp', TimestampType(), True),
                             StructField('trip_id', StringType(), True)])

stream = spark.readStream.format("json").schema(vehicle_schema).load("/content/landing/vehicles*")

dedup = stream.dropDuplicates()

In [12]:
dedup.printSchema()

root
 |-- bearing: integer (nullable = true)
 |-- block_id: string (nullable = true)
 |-- current_status: string (nullable = true)
 |-- id: string (nullable = true)
 |-- lat: float (nullable = true)
 |-- line_id: string (nullable = true)
 |-- lon: float (nullable = true)
 |-- pattern_id: string (nullable = true)
 |-- route_id: string (nullable = true)
 |-- schedule_relationship: string (nullable = true)
 |-- shift_id: string (nullable = true)
 |-- speed: float (nullable = true)
 |-- stop_id: string (nullable = true)
 |-- timestamp: timestamp (nullable = true)
 |-- trip_id: string (nullable = true)

In [66]:
# using memory for testing
try:
  if query.isActive:
    query.stop()
except:
  pass

query = (dedup.writeStream.format("memory").option("queryName", "vehicles").start())

In [70]:
query.status

{'message': 'Processing new data',
 'isDataAvailable': True,
 'isTriggerActive': True}

In [72]:
spark.sql("select * from vehicles").show()

+-------+--------------------+--------------+--------+---------+-------+---------+----------+--------+---------------------+------------+---------+-------+-------------------+--------------------+
|bearing|            block_id|current_status|      id|      lat|line_id|      lon|pattern_id|route_id|schedule_relationship|    shift_id|    speed|stop_id|          timestamp|             trip_id|
+-------+--------------------+--------------+--------+---------+-------+---------+----------+--------+---------------------+------------+---------+-------+-------------------+--------------------+
|    170|           2_2752-21| IN_TRANSIT_TO|  41|814|38.805965|   1205|-9.329573|  1205_0_1|  1205_0|            SCHEDULED|        2752| 9.444445| 170249|2024-11-30 10:35:46|1205_0_1_1000_102...|
|    233|20241130-64020021...| IN_TRANSIT_TO|44|12550| 38.52468|   4562|-8.998977|  4562_0_1|  4562_0|            SCHEDULED|111030000007|      7.5| 160897|2024-11-30 10:35:47|4562_0_1|3000|094...|
|      0|      ESC_SAB_ES3015|    STOPPED_AT| 43|2101| 38.56613|   3635|-9.036482|  3635_0_1|  3635_0|            SCHEDULED|      ES3015|      0.0| 150003|2024-11-30 10:35:50|3635_0_1_1030_105...|
|    125|           2_2716-21| IN_TRANSIT_TO| 41|1900| 38.79841|   1205|-9.350028|  1205_0_2|  1205_0|            SCHEDULED|        2716|11.111111| 170197|2024-11-30 10:35:24|1205_0_2_0930_095...|
|    337|             4504-21| IN_TRANSIT_TO| 42|2532|  38.7667|   2702|-9.157731|  2702_0_1|  2702_0|            SCHEDULED|        4536|     10.0| 060159|2024-11-30 10:34:37|2702_0_1|2|1|1030...|
|      0|      ESC_SAB_ES3001|    STOPPED_AT| 43|2612|38.568623|   3620|-9.046746|  3620_0_1|  3620_0|            SCHEDULED|      ES3001|      0.0| 150021|2024-11-30 10:35:32|3620_0_1_1000_102...|
|    287|      ESC_SAB_ES1057| IN_TRANSIT_TO| 43|2210|38.668175|   3717|-9.165437|  3717_0_2|  3717_0|            SCHEDULED|      ES1059|      0.0| 020003|2024-11-30 10:34:47|3717_0_2_1000_102...|
|     62|           2_2904-21| IN_TRANSIT_TO| 41|1265|38.833954|   1255|-9.319593|  1255_0_2|  1255_0|            SCHEDULED|        2904|     12.5| 171982|2024-11-30 10:34:23|1255_0_2_1000_102...|
|    351|             4042-21|    STOPPED_AT| 42|2362|38.814564|   2710|-9.118222|  2710_0_2|  2710_0|            SCHEDULED|        4146|      0.0| 070129|2024-11-30 10:33:55|2710_0_2|2|1|1000...|
|      0|      ESC_SAB_ES1048|    STOPPED_AT| 43|2331|38.601173|   3521|-9.139042|  3521_0_2|  3521_0|            SCHEDULED|      ES1048|      0.0| 140187|2024-11-30 10:33:57|3521_0_2_1000_102...|
|    223|      ESC_SAB_ES1038|   INCOMING_AT| 43|2329|38.624714|   3112|-9.085278|  3112_0_2|  3112_0|            SCHEDULED|      ES1038|6.9444447| 140331|2024-11-30 10:34:12|3112_0_2_1000_102...|
|     79|20241130-64020039...| IN_TRANSIT_TO|44|12063| 38.52549|   4412|-8.893345|  4412_0_2|  4412_0|            SCHEDULED|112100000007| 8.333333| 160137|2024-11-30 10:34:53|4412_0_2|3000|103...|
|    283|           2_2306-21|   INCOMING_AT| 41|1212| 38.80189|   1614|-9.373151|  1614_0_1|  1614_0|            SCHEDULED|        2321|10.833333| 170819|2024-11-30 10:35:49|1614_0_1_0930_095...|
|     51|      ESC_SAB_ES2011| IN_TRANSIT_TO| 43|2241| 38.67648|   3022|-9.164474|  3022_0_1|  3022_0|            SCHEDULED|      ES2011|4.4444447| 020083|2024-11-30 10:35:34|3022_0_1_1000_102...|
|     60|           2_2412-21|    STOPPED_AT| 41|1290| 38.71459|   1606|-9.256597|  1606_0_2|  1606_0|            SCHEDULED|        2412|0.2777778| 120292|2024-11-30 10:35:51|1606_0_2_1000_102...|
|    157|      ESC_SAB_ES2014| IN_TRANSIT_TO| 43|2306| 38.61498|   3030|-9.190934|  3030_0_2|  3030_0|            SCHEDULED|      ES2014|6.9444447| 020342|2024-11-30 10:35:24|3030_0_2_0930_095...|
|      0|             4036-21|    STOPPED_AT| 42|2338|38.759167|   2736|-9.159937|  2736_0_3|  2736_0|            SCHEDULED|        4036|      0.0| 060259|2024-11-30 10:35:28|2736_0_3|2|1|1040...|
|    278|           2_2318-21|    STOPPED_AT| 41|1243|38.788998|   1209|-9.306471|  1209_0_2|  1209_0|            SCHEDULED|        2318|0.2777778| 170486|2024-11-30 10:35:47|1209_0_2_1030_105...|
|    164|           2_2407-21|    STOPPED_AT| 41|1257|  38.7086|   1610|-9.296201|  1610_0_2|  1610_0|            SCHEDULED|        2407|7.2222223| 120717|2024-11-30 10:35:33|1610_0_2_1000_102...|
|      0|           2_2028-21|    STOPPED_AT| 41|1810|38.748238|   1510|-9.212038|  1510_0_2|  1510_0|            SCHEDULED|   2028'_003|      0.0| 030666|2024-11-30 10:35:15|1510_0_2_1030_105...|
+-------+--------------------+--------------+--------+---------+-------+---------+----------+--------+---------------------+------------+---------+-------+-------------------+--------------------+
only showing top 20 rows

In [73]:
query.stop()

In [74]:
!rm -rf /content/bronze

In [75]:
from pyspark.sql.functions import *

# watermark is necessary because of the aggregation
transformed = stream.withWatermark("timestamp", "60 seconds")
agg = (transformed
       .groupBy(window(transformed.timestamp, "5 minutes"), col("current_status"))
       .agg(min(transformed.timestamp).alias("init_timestamp"), count("*").alias("count")))

def insert_vehicles(df, batch_id): #recebe um df, por default um batch_id
  #df2 = df.groupBy("window").pivot("current_status").sum("count")
  df.write.format("parquet").mode("append").save("/content/bronze/vehicles") #processo batch -pq o spark stream nao tem um write parque por default

# using memory for testing
query2 = (agg
          .writeStream
          .outputMode("append")
          .foreachBatch(insert_vehicles) #temos de usar o foreach por ser streaming
          .option("checkpointLocation", "/content/bronze/checkpoint")
          .trigger(processingTime='20 seconds')
          .start())

In [79]:
spark.read.format("parquet").load("/content/bronze/vehicles/*").show(100, False)

+------------------------------------------+--------------+-------------------+-----+
|window                                    |current_status|init_timestamp     |count|
+------------------------------------------+--------------+-------------------+-----+
|{2024-11-30 10:30:00, 2024-11-30 10:35:00}|IN_TRANSIT_TO |2024-11-30 10:32:45|1495 |
|{2024-11-30 10:30:00, 2024-11-30 10:35:00}|INCOMING_AT   |2024-11-30 10:32:49|488  |
|{2024-11-30 10:30:00, 2024-11-30 10:35:00}|STOPPED_AT    |2024-11-30 10:32:33|698  |
+------------------------------------------+--------------+-------------------+-----+

## Report
- show vehicles by status in 5-min window time
- one line per window time

In [80]:
def pivot_data(df: DataFrame):
  result = df.orderBy("init_timestamp").groupBy("window").pivot("current_status").sum("count")
  result.show(100, False)

df = spark.read.format("parquet").load("/content/bronze/vehicles/*")
pivot_data(df)

+------------------------------------------+-----------+-------------+----------+
|window                                    |INCOMING_AT|IN_TRANSIT_TO|STOPPED_AT|
+------------------------------------------+-----------+-------------+----------+
|{2024-11-30 10:30:00, 2024-11-30 10:35:00}|488        |1495         |698       |
+------------------------------------------+-----------+-------------+----------+

In [81]:
query2.stop()